@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f3ff;
  color: #1d1d1d;
}

/* Custom pagination bullets */
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  gap: 8px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 8px;
  background-color: #2609cc;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 32px;
  background-color: #7e53d4;
  border-radius: 8px;
}

/* Product Details Slider CSS */
.mySwiper2 .swiper-button-next:after,
.mySwiper2 .swiper-button-prev:after,
.mySwiper2 .swiper-rtl .swiper-button-next:after,
.mySwiper2 .swiper-rtl .swiper-button-prev:after {
  border: 1px solid #7e53d4;
  color: #7e53d4;
  border-radius: 50%;
  padding: 5px;
  font-size: 18px;
  width: 32px;
  height: 32px;
}

.mySwiper2 .swiper-button-prev:after,
.mySwiper2 .swiper-button-next:after,
.mySwiper2 .swiper-button-next:after,
.mySwiper2 .swiper-button-prev:after {
  display: flex;
  justify-content: center;
  align-items: center;
}
